#{extends 'main.html' /}
#{set title:'Detalhamento de Produto' /}

<header>
<div class="topo">
<h1>Detalhes do produto</h1>
</header>
</div>
<div class="corpo">
<p>Nome: ${p.nome}</p>
<p>Fornecedor: <a href="@{Fornecedores.detalhar(p.fornecedor.id, request.url)}">${p.fornecedor.nome}</a></p>
<p>Descrição: ${p.descricao}</p>
<p>Preço: ${p.preco}</p>
<p>Preço: ${p.quantidade}</p>
<p>Categoria: ${p.categoria}</p>

<H2>Lista de produtos similares</H2>
<table>
<tr>
<th>Nome</th>
<th>Descrição</th>
<th>Preço</th>
<th>Quantidade</th>
<th>Categoria</th>
<th>Remover</th>
<th>Editar</th>
</tr>
#{list items:produtos, as: 's'}
<tr>
<td><a href="@{Produtos.detalhar(s.id, request.url)}">${s.nome}</a></td>
<td>${s.descricao}</td>
<td>${s.preco}</td>
<td>${s.quantidade}</td>
<td>${s.categoria}</td>
<td><a href=@{Produtos.remover(s.id)}>🗑️</a></td>
<td><a href=@{Produtos.editar(s.id)}>✏️</a></td>
</tr>
#{/list}
#{else}
<td colspan="7">Nenhum resultado encontrado.</td>
#{/else}
</table>
<div class="btn-voltar">
<a href="${url}">← Voltar</a>
</div>
</div>